/* style.css */
body{
    background: rgba(255,255,255,1);
    color: rgba(20,20,20,1);
    font-size: 24px;
    font-family: Helvetica;
    margin: 0;
}
h1{
    font-weight: 900;
    font-size: 40px;
}
h2 {
    font-size: 16px;
}
p {
    font-weight: lighter;
    font-size: 16px;
}
a {
    color: rgba(20,20,20,1);
    text-decoration: none;
}
#banner{
    text-align: center;
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.6)
    ), url("images/banner.jpg");
    background-size: cover;
    padding: 80px;
    color: white;
    text-shadow: 1px 1px 5px black;
}
#banner h1 {
    font-size: 40px;
}
#banner p {
    font-size: 24px;
    font-weight: 400;
}
#footer{
    padding: 24px;
    color: rgb(49, 157, 17);
}
.card{
    background: rgb(219, 228, 207);
    box-shadow: 0px 0px 20px rgba(60, 90, 13, 1);
}
#footer a {
    color: rgb(49, 157, 17);
    font-size: 32px;
}
#footer a:hover {
    color: rgb(59, 185, 20);
}
.card {
    background: transparent;
    border: none;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    width: 100px;
    margin: 0 auto;
    padding: 20px;
}